<div class="contenedor">
  <div
    *ngFor="let item of cats | paginate : { itemsPerPage: 4, currentPage: p }"
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <a href="#">
      <img class="rounded-t-lg" [src]="item.url" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ item.name }}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ item.description }}
      </p>
      <div class="tags">
        <span
          class="bg-blue-100 text-black-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-white-900 dark:text-black-300"
          >{{ item.origin }}</span
        >
        <span
          class="bg-blue-100 text-black-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-white-900 dark:text-black-300"
          >{{ item.vetstreet_url }}</span
        >
        <span
          class="bg-blue-100 text-black-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-white-900 dark:text-black-300"
          >{{ item.vcahospitals_url }}</span
        >
      </div>

      <br />
      <br />
      <a
        href="{{ item.cfa_url }}"
        target="_blank"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Saber mas
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
<br />
<div class="contenedor">
  <pagination-controls
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
