.contenedor{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}