<div class="relative overflow-x-auto">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Nombre</th>
        <th scope="col" class="px-6 py-3">Descripcion</th>
        <th scope="col" class="px-6 py-3">Origen</th>
        <th scope="col" class="px-6 py-3">Veterinario</th>
        <th scope="col" class="px-6 py-3">Hospital</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of breeds
            | filterByName : searchText
            | paginate : { itemsPerPage: 4, currentPage: p }
        "
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <td class="px-6 py-4">{{ item.name }}</td>
        <td class="px-6 py-4">{{ item.description }}</td>
        <td class="px-6 py-4">{{ item.origin }}</td>
        <td class="px-6 py-4">{{ item.vetstreet_url }}</td>
        <td class="px-6 py-4">{{ item.vcahospitals_url }}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
